* {
    margin:0;
    padding:0;
}
html {
    font-size: 62.5%;
}

/* -------------------------------------------------------- TIPOGRAFÍA --------------------------------------------------------*/
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Bold.ttf);
    font-weight: 700;
}
/* -------------------------------------------------------- TIPOGRAFÍA FIN --------------------------------------------------------*/

/* -------------------------------------------------------- HEADER --------------------------------------------------------*/
nav{
    
    background-color:#353535;
}

.logo-nav{
    height: 8rem;
}

.lista-nav{
    font-size: 2rem;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    color: white;
}

.nav-link{
    margin-right: 5rem;
}
/* -------------------------------------------------------- HEADER FIN --------------------------------------------------------*/

/* -------------------------------------------------------- HEADINGS --------------------------------------------------------*/

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    margin: none;
    
    color: #FFFFFF;
}
h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3.8rem;
    margin: none;

    color: #FFFFFF;
}
h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: none;
    
    color: #FFFFFF;
}
h4{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: none;
}

h5{

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    margin: none;
}

/* -------------------------------------------------------- HEADINGS FIN --------------------------------------------------------*/

/* -------------------------------------------------------- FOOTER --------------------------------------------------------*/
footer{
    padding-top: 2rem;
    background-color: #D9D9D9;
    /* height: 9rem; */

    display: flex;
    flex-direction: column;
    align-items: center;    
}

.iconos-redes{
    /* border: solid 1px white; */
    width: 30rem;
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem ;
}

.iconos-redes img{
    width: 3rem;
}

footer h4{
    /* border: solid 1px white; */
    margin-top: 0.5rem;
    margin-bottom: 2rem
}

/* -------------------------------------------------------- FOOTER FIN --------------------------------------------------------*/

main{
    background-color: #284B63;
}

/* -------------------------------------------------------- INDEX --------------------------------------------------------*/

.seccion1-index{
    display: flex;
    flex-direction: column;

}

.img-filmacion{

    width: 100%;
}

.seccion2-index{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.titulo-parrafo1{
    color: #FFFFFF;
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight 9px;
}

.img-lente{
    border: solid 5px white;
    width: 50rem;
}

/* -------------------------------------------------------- INDEX FIN --------------------------------------------------------*/

/* -------------------------------------------------------- NUESTROS SERVICIOS --------------------------------------------------------*/

.grid{
    color: white;
    font-size: 3rem;
}

.grid div{
    margin-bottom: 3rem;
    /* margin-left: 2rem; */
}

.grid p{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight;
}

.grid-container{
    margin-left: 5%;
    width: 90%;
}

.titulo-parrafo2{
    /* border: solid 1px white; */
    height: 35rem;
    width: 50rem;

    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight 9px;
    
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.seccion2-nuestros-servicios{
    padding-bottom: 2rem;
}

.seccion2-nuestros-servicios .row{
    margin-left: 1rem;
    margin-right: 1rem;
}

.card{
    background-color: #284B63;
    border: none;
}

.card h5{
    text-align: center;
}

.lista-p-servicios{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}

/* -------------------------------------------------------- NUESTROS SERVICIOS FIN --------------------------------------------------------*/

/* -------------------------------------------------------- PORTFOLIO --------------------------------------------------------*/

.img-port{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 2rem;
}

.txt-iframe-portfolio{
    height: 33rem;

    display: flex;
    justify-content:space-around;
}

.txt-portfolio{
    width: 70rem;

    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight 9px;
}

.txt-iframe-portfolio img{
    height: 315px;
}

/* -------------------------------------------------------- PORTFOLIO FIN --------------------------------------------------------*/

/* -------------------------------------------------------- SOBRE NOSOTROS --------------------------------------------------------*/

.seccion2-sobrenosotros{
    padding-bottom: 2rem;
}

.seccion3-sobrenosotros h2{
    text-align: center;
    font-size: 4rem;

    padding-bottom: 2rem;
}

.img-integrantes img{
    width: 30rem;
}

.img-integrantes{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    padding-bottom: 1rem;
}

.nombres-integrantes{
    list-style-type: none;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font: weight 9px;

    display: flex;
    justify-content: space-around;

    padding-top: 1rem;
}

.nombres-integrantes li{
    text-align: center;
    width: 30rem;
}

.funciones-integrantes{
    list-style-type: none;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight 9px;

    display: flex;
    justify-content: space-around;

    padding-bottom: 2rem;
}

.funciones-integrantes li{
    text-align: center;
    width: 30rem;
}

/* -------------------------------------------------------- SOBRE NOSOTROS FIN --------------------------------------------------------*/

/* -------------------------------------------------------- CONTACTO --------------------------------------------------------*/

.preguntas{
    padding-bottom: 2rem;
    margin-left: 5%;

    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight 9px;
    list-style-type: none;
}

.preguntas li{
    padding-bottom: 2rem;
}

/* -------------------------------------------------------- CONTACTO FIN --------------------------------------------------------*/