* {
    margin:0;
    padding:0;
}
html {
    font-size: 62.5%;
}

/* -------------------------------------------------------- TIPOGRAFÍA --------------------------------------------------------*/
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Bold.ttf);
    font-weight: 700;
}
/* -------------------------------------------------------- TIPOGRAFÍA FIN --------------------------------------------------------*/

/* -------------------------------------------------------- HEADER --------------------------------------------------------*/
nav{
    
    background-color:#353535;
}

.logo-nav{
    height: 8rem;
    /* border: solid 1px white; */
}

.navbar-brand{
    padding-left: 5rem;
    /* border: solid 1px white; */
}

.lista-nav{
    font-size: 2rem;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    color: white;
}

.nav-link{
    margin-right: 5rem;
}
/* -------------------------------------------------------- HEADER FIN --------------------------------------------------------*/

/* -------------------------------------------------------- HEADINGS --------------------------------------------------------*/

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    margin: none;
    
    color: #FFFFFF;
}
h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3.8rem;
    margin: none;

    color: #FFFFFF;
}
h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: none;
    
    color: #FFFFFF;
}
h4{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: none;
}

h5{

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    margin: none;
}

/* -------------------------------------------------------- HEADINGS FIN --------------------------------------------------------*/

/* -------------------------------------------------------- FOOTER --------------------------------------------------------*/
footer{
    padding-top: 2rem;
    background-color: #D9D9D9;

    display: flex;
    flex-direction: column;
    align-items: center;    
}

.iconos-redes{
    width: 30rem;
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.7rem ;
}

.iconos-redes img{
    width: 3rem;
}

footer h4{
    margin-top: 0.5rem;
    margin-bottom: 1.8rem;
}

/* -------------------------------------------------------- FOOTER FIN --------------------------------------------------------*/

main{
    background-color: #284B63;
}

/* -------------------------------------------------------- INDEX --------------------------------------------------------*/

.img-filmacion{
    width: 100%;
}

.seccion2-index{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.titulo-parrafo1{
    color: #FFFFFF;
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight;
}

.img-lente{
    border: solid 5px white;
    width: 50rem;
}

/* -------------------------------------------------------- INDEX FIN --------------------------------------------------------*/

/* -------------------------------------------------------- NUESTROS SERVICIOS --------------------------------------------------------*/
.grid-container{
    margin-left: 2%;
    width: 96%;
}

.grid div{
    margin-bottom: 3rem;
}

.grid p{
    color: white;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight;
}

.seccion2-nuestros-servicios{
    padding-bottom: 2rem;
}

.seccion2-nuestros-servicios .row{
    margin-left: 1rem;
    margin-right: 1rem;
}

.card{
    background-color: #284B63;
    border: none;
}

.card h5{
    text-align: center;
}

.lista-p-servicios{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight;
    font-size: 2rem;
    text-align: center;
}

/* -------------------------------------------------------- NUESTROS SERVICIOS FIN --------------------------------------------------------*/

/* -------------------------------------------------------- PORTFOLIO --------------------------------------------------------*/

.img-port{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 2rem;
}

.seccion2-portfolio{
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight;

    padding-bottom: 2rem;
}

.card-portfolio iframe{
    height:315px;
}

.card-portfolio{
    width: 90%;
    margin-left: 5%;
}
/* -------------------------------------------------------- PORTFOLIO FIN --------------------------------------------------------*/

/* -------------------------------------------------------- SOBRE NOSOTROS --------------------------------------------------------*/

.seccion2-sobrenosotros{
    padding-bottom: 2rem;
}

.seccion3-sobrenosotros h2{
    text-align: center;
    font-size: 4rem;

    padding-bottom: 2rem;
}

.seccion3-sobrenosotros .row{
    width: 88%;
}

/* -------------------------------------------------------- SOBRE NOSOTROS FIN --------------------------------------------------------*/

/* -------------------------------------------------------- CONTACTO --------------------------------------------------------*/

.preguntas{
    display: flex;

    justify-content: space-around;

    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight;
    list-style-type: none;
}

.preguntas li{
    padding-bottom: 2rem;
}

.seccion2-contacto{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font: weight;
    list-style-type: none;
}

.formulario{
    padding-bottom: 2rem;
}

/* -------------------------------------------------------- CONTACTO FIN --------------------------------------------------------*/


/* -------------------------------------------------------- MEDIA QUERIES --------------------------------------------------------*/

/* ------------------------------- Mobil -------------------------------*/
@media only screen and (max-width:767px) {
    /* ------------------------ INDEX */

    .img-filmacion{
        display: none;
    }

    .img-filmacion-2{
        width: 100%;
    }
    .titulo-parrafo1{
        font-size: 1.8rem;
        padding-bottom: 1.2rem;
    }

    .img-lente{
        border: solid 3px white;
        width: 35rem;
    }

    h2{
        font-size: 3rem;
        margin: none;
    
        color: #FFFFFF;
    }
    /* ------------------------ INDEX FIN */

    /* ------------------------ NUESTROS SERVICIOS */
    
    h1{
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }

    .grid div{
        margin-bottom: 2.2rem;
    }
    
    .grid p{
        font-size: 1.7rem;
    }
    
    .seccion2-nuestros-servicios .row{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .card h5{
        font-size: 1.9rem;
    }
    
    .lista-p-servicios{
        font-size: 1.5rem;
    }

    /* ------------------------ NUESTROS SERVICIOS FIN */

    /* ------------------------ FOOTER */

    .iconos-redes{
        width: 20rem;
    }

    .iconos-redes img{
        width: 2.8rem;
    }

    footer h4{
        font-size: 1rem;
    }

    /* ------------------------ FOOTER FIN */


    
}
/* ------------------------------- Tablet -------------------------------*/
@media only screen and (min-width:768px) and (max-width:991px){
    /* ------------------------ INDEX */
    .img-filmacion-2{
        display: none;
    }
    .titulo-parrafo1{
        font-size: 2.4rem;
    }

    .img-lente{
        border: solid 4px white;
        width: 40rem;
    }

    h2{
        font-size: 3.4rem;
        margin: none;
    
        color: #FFFFFF;
    }
    /* ------------------------ INDEX FIN */

    /* ------------------------ NUESTROS SERVICIOS */
    
    .grid div{
        margin-bottom: 2.6rem;
    }
    
    .grid p{
        font-size: 2.1rem;
    }
    
    .seccion2-nuestros-servicios .row{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .card h5{
        font-size: 2rem;
    }
    
    .lista-p-servicios{
        font-size: 1.6rem;
    }
}



/* ------------------------------- Desktop -------------------------------*/
@media only screen and (min-width:992px){
    /* ------------------------ INDEX */
    .img-filmacion-2{
        display: none;
    }

    .grid p{
        margin-left: 2rem;
    }
    .grid h2{
        margin-left: 2rem;
    }
    /* ------------------------ INDEX FIN */
}