/* -------------------------------------------------------- CONTACTO --------------------------------------------------------*/

main {
    .preguntas {
        display: flex;
        justify-content: space-around;
        color: nth($colores, 1);
        font-size: map-get($map: $fsize, $key: 3);
        @extend %fuente-parrafo;
        list-style-type: none;

        li {
            padding-bottom: 2rem;
        }
    }

    .seccion2-contacto {
        color: nth($colores, 1);
        font-size: map-get($map: $fsize, $key: 3);
        @extend %fuente-parrafo;
        list-style-type: none;

        .formulario {
            padding-bottom: 2rem;
        }
    }
}

/* -------------------------------------------------------- CONTACTO FIN --------------------------------------------------------*/