/* -------------------------------------------------------- INDEX --------------------------------------------------------*/

main {
    background-color: nth($colores, 2);

    .seccion1-index {

        .img-filmacion {
            @include portadas (100%, 0);

        }
    }

    .seccion2-index {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .row {

            .titulo-parrafo1 {
                color: nth($colores, 1);
                font-size: map-get($map: $fsize-lg, $key: 2);
                text-align: center;
                @extend %fuente-parrafo;
            }

            .col-lg-6 {

                .img-lente {
                    border: solid 5px nth($colores, 1);
                    width: 50rem;
                }
            }
        }
    }

    .seccion3-index{
        padding-bottom: 2rem;

        .row {
            width: 70%;

            .card {
                background-color: nth($colores, 2);
                border: none;
                .card-body {
                    background-color: nth($colores, 3);
                    width: 100%;
                }
            }
        }
    }
}

/* -------------------------------------------------------- INDEX FIN --------------------------------------------------------*/