/* -------------------------------------------------------- SOBRE NOSOTROS --------------------------------------------------------*/

main {
    section {
        .img-port {
            @include portadas (90%, 5%);
            padding-bottom: 2rem;
        }
    }

    .seccion2-sobrenosotros {
        padding-bottom: 2rem;

        .row {
            .titulo-parrafo1 {
                color: nth($colores, 1);
                font-size: map-get($map: $fsize-lg, $key: 2);
                text-align: center;
                @extend %fuente-parrafo;
            }
            .col-lg-6{
                img{
                    width: 75%;
                }
            }
        }
    }

    .seccion3-sobrenosotros {
        h2 {
            text-align: center;
            padding-bottom: 2rem;
        }

        .row {
            width: 88%;

            .col-lg-3 {
                .card {
                    background-color: nth($colores, 2);
                    border: none;

                    .card-body {
                        h3 {
                            text-align: center;
                        }

                        p {
                            @extend %fuente-parrafo;
                            font-size: map-get($map: $fsize-lg, $key: 3);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

/* -------------------------------------------------------- SOBRE NOSOTROS FIN --------------------------------------------------------*/
