/* -------------------------------------------------------- INDEX --------------------------------------------------------*/

main {
    background-color: nth($colores, 2);

    .seccion1-index {

        .img-filmacion {
            width: 100%;

        }
    }

    .seccion2-index {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .row {

            .titulo-parrafo1 {
                color: nth($colores, 1);
                font-size: 2.8rem;
                text-align: center;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font: weight;
            }

            .col-lg-6 {

                .img-lente {
                    border: solid 5px nth($colores, 1);
                    width: 50rem;
                }
            }
        }
    }
}

/* -------------------------------------------------------- INDEX FIN --------------------------------------------------------*/