/* -------------------------------------------------------- NUESTROS SERVICIOS --------------------------------------------------------*/

main {
    .seccion1-nuestros-servicios {
        .grid-container {
            margin-left: 2%;
            width: 96%;

            .grid {
                div {
                    margin-bottom: 3rem;
                }
                p {
                    color: nth($colores, 1);
                    font-size: map-get($map: $fsize, $key: 2);
                    @extend %fuente-parrafo;
                }
            }
        }
    }

    .seccion2-nuestros-servicios {
        padding-bottom: 2rem;

        .row {
            margin-left: 1rem;
            margin-right: 1rem;

            .card {
                background-color: nth($colores, 2);
                border: none;

                .card-body {
                    h5 {
                        text-align: center;
                    }
                    p {
                        @extend %fuente-parrafo;
                        font-size: map-get($map: $fsize, $key: 3);
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------------------- NUESTROS SERVICIOS FIN --------------------------------------------------------*/
