/* -------------------------------------------------------- MEDIA QUERIE --------------------------------------------------------*/

/* ------------------------------- Mobil -------------------------------*/
@media only screen and (max-width:767px) {
    /* ------------------------ INDEX */

    main {
        .seccion1-index {

            .img-filmacion {
                display: none;
            }

            .img-filmacion-2 {
                width: 100%;
            }
        }

        .seccion2-index {
            .row {

                .titulo-parrafo1 {
                    font-size: map-get($map: $fsize-sm, $key: 2);
                    margin: none;
                    color: #FFFFFF;
                }

                .col-lg-6 {
                    .img-lente {
                        border: solid 3px white;
                        width: 35rem;
                    }
                }
            }
        }
    }

    /* ------------------------ INDEX FIN */

    /* ------------------------ NUESTROS SERVICIOS */

    main {
        .seccion1-nuestros-servicios {
            h1 {
                font-size: 3.5rem;
                padding-bottom: 1rem;
            }

            .grid-container {
                margin-left: 2%;
                width: 96%;

                .grid {
                    div {
                        margin-bottom: 2.2rem;
                    }

                    p {
                        font-size: map-get($map: $fsize-sm, $key: 2);
                    }

                }
            }
        }

        .seccion2-nuestros-servicios {
            padding-bottom: 2rem;

            .row {
                margin-left: 1rem;
                margin-right: 1rem;

                .card {
                    background-color: #284B63;
                    border: none;

                    .card-body {
                        p {
                            font-size: map-get($map: $fsize-sm, $key: 3);
                        }
                    }
                }
            }
        }
    }

    /* ------------------------ NUESTROS SERVICIOS FIN */

    /* ------------------------ PORTFOLIO */
    main {
        section {
            .img-port {
                @include portadas (94%, 3%);
            }
        }
    
        .seccion2-portfolio {
            font-size: map-get($map: $fsize-sm, $key: 3);
        }
    }

    /* ------------------------ PORTFOLIO FIN */

    /* ------------------------ SOBRE NOSOTROS */

    main {
        section {
            .img-port {
                @include portadas (94%, 3%);
            }
        }

        .seccion2-sobrenosotros {
            .row {
                .titulo-parrafo1 {
                    font-size: map-get($map: $fsize-sm, $key: 2);
                }
            }
        }

        .seccion3-sobrenosotros {
            .row {
                .col-lg-3 {
                    .card {    
                        .card-body {
                            p {
                                font-size: map-get($map: $fsize-sm, $key: 2);
                            }
                        }
                    }
                }
            }
        }
    }

    /* ------------------------ SOBRE NOSOTROS FIN */

    /* ------------------------ CONTACTO */
    main {
        section {
            .preguntas {
                display: flex;
                flex-direction: column;
                font-size: map-get($map: $fsize-sm, $key: 2);
            }
        }
    
        .seccion2-contacto {
            color: nth($colores, 1);
            font-size: map-get($map: $fsize-sm, $key: 2);

            .formulario{
                width: 90%;
            }
        }
    }
    /* ------------------------ CONTACTO FIN */

    /* ------------------------ FOOTER */

    footer {
        .iconos-redes {
            width: 20rem;

            img {
                width: 2.8rem;
            }
        }
    }

    /* ------------------------ FOOTER FIN */

    /* ------------------------ HEADINGS FIN */
    h1 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    /* ------------------------ HEADINGS FIN */

}

/* ------------------------------- Tablet -------------------------------*/
@media only screen and (min-width:768px) and (max-width:991px) {
    /* ------------------------ INDEX */

    main {
        .seccion1-index {
            .img-filmacion-2 {
                display: none;
            }
        }

        .seccion2-index {
            .row {

                .titulo-parrafo1 {
                    font-size: 2.4rem;
                }

                .col-lg-6 {
                    .img-lente {
                        border: solid 4px white;
                        width: 40rem;
                    }
                }
            }
        }
    }

    /* ------------------------ INDEX FIN */

    /* ------------------------ NUESTROS SERVICIOS */

    main {
        .seccion1-nuestros-servicios {
            .grid-container {

                .grid {
                    div {
                        margin-bottom: 2.6rem;
                    }

                    p {
                        font-size: 2.1rem;
                    }
                }
            }
        }

        .seccion2-nuestros-servicios {
            padding-bottom: 2rem;

            .row {
                margin-left: 1rem;
                margin-right: 1rem;

                .card {
                    background-color: #284B63;
                    border: none;

                    .card-body {
                        p {
                            font-size: map-get($map: $fsize-sm, $key: 2);
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------------- Desktop -------------------------------*/
@media only screen and (min-width:992px) {
    /* ------------------------ INDEX */

    main {
        .seccion1-index {
            .img-filmacion-2 {
                display: none;
            }
        }
    }

    /* ------------------------ INDEX FIN */
}

/* -------------------------------------------------------- MEDIA QUERIE FIN --------------------------------------------------------*/